body {
  margin: 0;
  padding: 0;
  font-family: 'Montaga', serif;
  background-color: #ebebeb;

}

.heading_style{
	background-color: #e8dcba;
	margin-top:  0px;
	padding: 22px;
	text-align: center;
}

.card__img{
	height: 350px;
	width:100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%;
    border-radius: 20px;
    float: left;
    margin-left: 157px;
    margin-top: 109px;
    text-align:center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards {
  padding: 2px 16px;
}

button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

/* Gray */
button {
  border-color: #e7e7e7;
  color: black;
}

button:hover {
  background: #e7e7e7;
}

.card__info{
	text-align: left;
    padding: 15px;
    padding-left: 30px;
}



.sMaching {
  margin: auto;
  width: 25%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.success{
	background-color:green;
	color:white;
}